<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>

    <session-factory>
        <!-- 方言 -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!--是否显示sql-->
        <property name="show_sql">true</property>

        <!--是否格式化sql-->
        <property name="format_sql">false</property>

        <property name="hbm2ddl.auto">update</property>

        <!-- 懒加载 -->
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <!-- 实体类的验证 -->
        <property name="javax.persistence.validation.mode">none</property>

        <!--引入配置文件-->
        <mapping resource="com/zengqingfa/domain/Customer.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>
